*.class
*.html
*.css
*.log
*.jar
*.war
*.ear
*.swp
*.gif
*.iml
package-list
/metastore_db
class-use
framework.iml
index-files
/.idea
/.project
/.classpath
/.settings
/build/
/bin/
/lib/
/doc
/target
.settings/
